{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="https://unpkg.com/treeflex/dist/css/treeflex.css" rel="stylesheet">
        <style>
            .example .tf-nc {
                background-color: darkcyan;
                border: none;
                border-radius: 25px;
                color: white;
                transition: 0.3s all;
            }

            .example .tf-nc:hover {
                transition: 0.3s all;
                border-color: tomato;
                border-width: 2px;
                border-style: solid;
            }

            .tf-tree .tf-nc:before,
            .tf-tree .tf-nc:after,
            .tf-tree li li:before {
                border-color: violet;
                border-width: 2px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="skew-menu">
                  <ul>
                    <li><a href="/">DFS</a></li>
                    <li><a href="/bfs">BFS</a></li>
                    <li><a href="/dijkstra">Dijkstra</a></li>
                    <li><a href="/min-max">Minimax</a></li>
                    <li><a href="/ucs">UCS</a></li>
                    <li><a href="/puzzle">Puzzle</a></li>
                    <li><a href="/dls">DLS</a></li>
                  </ul>
            </nav>
            <div class="row">
                <div class="col-md-10" align="center">
                    <div class="tf-tree example tf-dashed-children">
                        <ul>
                            <li>
                                <span class="tf-nc" id="n1">1</span>
                                <ul>
                                    <li>
                                        <span class="tf-nc" id="n2">2</span>
                                        <ul>
                                            <li><span class="tf-nc" id="n4">4</span></li>
                                            <li>
                                                <span class="tf-nc" id="n5">5</span>
                                                <ul>
                                                    <li><span class="tf-nc" id="n6">6</span></li>
                                                    <li><span class="tf-nc" id="n7">7</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="tf-nc" id="n3">3</span>
                                        <ul>
                                            <li><span class="tf-nc" id="n8">8</span></li>
                                            <li>
                                                <span class="tf-nc" id="n9">9</span>
                                                <ul>
                                                    <li><span class="tf-nc" id="n10">10</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                     </div>
                </div>
                <div class="col-md-2 trigger-search-div">
                    <nav class="skew-menu">
                        <ul>
                            <li><a href="#" id="dfsButton">GO for DFS</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script>
        function timer(ms) {
            return new Promise(res => setTimeout(res, ms));
        }

        async function dfs() {
            let data = JSON.parse("{{nodes}}");
            console.log(data);
            for (let n in data) {
                //console.log("n" + String(data[n]) + "\n");
                try {
                    document.getElementById("n" + String(data[n])).style.backgroundColor = "tomato";
                } catch (e) {
                    console.log(e)
                }

                await timer(500);
            }
        }

        function resetGraph() {
            let data = JSON.parse("{{nodes}}");
            for (let n in data) {
                try {
                    document.getElementById("n" + String(data[n])).style.backgroundColor = "darkcyan";
                } catch (e) {
                    console.log(e)
                }
            }
        }

        $(document).ready(function () {
            $("#dfsButton").click(function () {
                resetGraph();
                dfs();
            })
        })
    </script>

    </body>
</html>